:root {
  font-size: 16px;
  --navbar-color: lightblue;
  --standard-text-color: black;
  --subtle-text-color: rgb(40, 40, 40);
  --light-grey: #cecece;
  --standard-margin: 1rem;
  --max-box-height: 400px;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  /* Make font bold */
  font-weight: 700;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

section,
article {
  border-radius: 10px;
  border-style: ridge;
  border-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: var(--standard-margin);
}

section {
  border-width: 1px;
}

.hoverable:hover {
  background-color: rgba(0, 0, 255, 0.1);
  transition: 0.4s all ease-in;
}

form {
  /* background-color: blueviolet; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

form > input {
  /* min-width: 60rem; */
  width: 90%;
  background-color: var(--light-grey);
}

#my-image {
  float: right;
  max-height: 100%;
  margin-left: var(--standard-margin);
}

section {
  margin-bottom: var(--standard-margin);
  margin-left: var(--standard-margin);
  margin-right: var(--standard-margin);
}

article {
  margin-top: var(--standard-margin);
  margin-bottom: var(--standard-margin);
}

footer {
  font-size: small;
  color: var(--subtle-text-color);
  text-align: center;
}

nav {
  margin-bottom: var(--standard-margin);
}

.banner {
  max-height: 75px;
  display: flex;
}

.img-box {
  flex-grow: 50;
}

.banner h1,
.banner span {
  text-align: right;
  float: right;
}

.banner h1 {
  font-size: 1.5rem;
}

.banner h2 {
  font-size: 1.2rem;
}

nav {
  background-color: var(--navbar-color);
  display: flex;
  justify-content: flex-start;
  padding: 1.5rem 0 1.5rem 0;
}

nav > ul > li {
  display: inline;
}
