@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto+Condensed&display=swap');

:root {
  font-size: 20px;
      font-family: 'Roboto Condensed', sans-serif;
  --navbar-color: lightblue;
  --standard-text-color: black;
  --subtle-text-color: rgb(40, 40, 40);
  --light-grey: rgba(0, 0, 255, 0.1);
  --standard-margin: 1rem;
  --blue-overlay: rgba(0, 0, 255, 0.1);
  --submit-button-color: rgb(0, 175, 255);
  --submit-button-hover: rgb(0, 0, 223);
  --light-text-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  /* Make font bold */
  font-weight: 700;
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

section,
article {
  border-radius: 10px;
  border-style: ridge;
  border-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.project-image {
  margin: var(--standard-margin);)
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}



.project {
  /* background-color: wheat; */
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: var(--standard-margin);
}

.stack {
  max-height: 1em;
  overflow: hidden;
  word-wrap: unset;
  width: 40%;
  float: left;
}
.links {
  float: right;
}

summary {
  padding: 2rem;
}

section {
  border-width: 1px;
}

.hoverable:hover {
  background-color: var(--blue-overlay);
  transition: 0.4s all ease-in;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

form > input,
form > textarea {
  margin-bottom: 0.2rem;
  width: 75%;
  background-color: var(--light-grey);
}

section > h2 {
  margin: var(--standard-margin);
}

#message {
  height: 10rem;
  resize: none;
}

#my-image {
  float: right;
  max-height: 100%;
  margin-left: var(--standard-margin);
}

section {
  margin-bottom: var(--standard-margin);
  margin-left: var(--standard-margin);
  margin-right: var(--standard-margin);
}

article {
  margin-top: var(--standard-margin);
  margin-bottom: var(--standard-margin);
}

footer {
  font-size: small;
  color: var(--subtle-text-color);
  text-align: center;
}

nav {
  margin-bottom: var(--standard-margin);
}

.banner {
  max-height: 75px;
  display: flex;
}

.img-box {
  flex-grow: 50;
}

.banner h1,
.banner span {
  text-align: right;
  float: right;
}

.banner h1 {
  font-size: 1.5rem;
}

.banner h2 {
  font-size: 1.2rem;
}

nav {
  background-color: var(--blue-overlay);
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

nav > ul {
  line-height: 3rem;
  height: 100%;
  /* background-color: blue; */
}

nav > ul > li {
  display: inline;
}

.form-buttons {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

#submit-btn {
    background-color: var(--submit-button-color);
    color: var(--light-text-color);
}

#submit-btn:hover {
    background-color: var(--submit-button-hover);
    transition: 0.4s all ease-in;
}

.btn {
    cursor: pointer;
  margin: var(--standard-margin);
  padding: var(--standard-margin);
  width: 30%;
  border-radius: 10%;
}

/* Create media query breakpoint for mobile devices */
@media (max-width: 768px) {
  .btn {
      border-radius: 10%;
    width: 100%;
  }
}
